<%= render 'left' %>
<%= render 'top' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>征信数量:</strong>
  <%= @creditdetail.amount %>
</p>

<p>
  <strong>征信日期:</strong>
  <%= @creditdetail.amountdate %>
</p>

<%= link_to '编辑征信', edit_creditdetail_path(@creditdetail) %> |
<%= link_to '返回', creditdetails_path %>