<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @creditdetail.amount %>
</p>

<p>
  <strong>Amountdate:</strong>
  <%= @creditdetail.amountdate %>
</p>

<%= link_to 'Edit', edit_creditdetail_path(@creditdetail) %> |
<%= link_to 'Back', creditdetails_path %>
