<%= render 'left' %>
<%= render 'top' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>会员名:</strong>
  <%= @memberlevel.name %>
</p>

<p>
  <strong>会员等级:</strong>
  <%= @memberlevel.quota %>
</p>

<%= link_to '编辑', edit_memberlevel_path(@memberlevel) %> |
<%= link_to '返回', memberlevels_path %>