<div class="ibox-content form-horizontal m-t">


  <div class="form-group">
    <%= form_for(@credit,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>

        <div class="form-group">
          <label class="col-sm-3 control-label">姓名：</label>
          <div class="col-sm-6">
            <%= f.text_field :name,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">性别：</label>
          <div class="col-sm-6">
            <%= f.text_field :sex,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">年龄：</label>
          <div class="col-sm-6">
            <%= f.text_field :age,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">征信位置：</label>
          <div class="col-sm-6">
            <%= f.text_field :placeoforigin,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">笔名：</label>
          <div class="col-sm-6">
            <%= f.text_field :upname,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">电话：</label>
          <div class="col-sm-6">
            <%= f.text_field :tel,class:"form-control" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit '确定',class: "btn btn-w-m btn-success mylink pull-right",'data-no-turbolink'=>true %>

    <% end %>
    </div>
  </div>
</div>




