<%= render 'left' %>
<%= render 'top' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @credit.name %>
</p>

<p>
  <strong>性别:</strong>
  <%= @credit.sex %>
</p>

<p>
  <strong>年龄:</strong>
  <%= @credit.age %>
</p>

<p>
  <strong>籍贯:</strong>
  <%= @credit.placeoforigin %>
</p>

<p>
  <strong>征信人:</strong>
  <%= @credit.upname %>
</p>

<p>
  <strong>电话:</strong>
  <%= @credit.tel %>
</p>

<%= link_to '编辑征信人', edit_credit_path(@credit) %> |
<%= link_to '返回', credits_path %>