<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @credit.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @credit.age %>
</p>

<p>
  <strong>Placeoforigin:</strong>
  <%= @credit.placeoforigin %>
</p>

<p>
  <strong>Upname:</strong>
  <%= @credit.upname %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @credit.tel %>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
