<%= form_for(@stagelevel) do |f| %>
  <% if @stagelevel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stagelevel.errors.count, "error") %> prohibited this stagelevel from being saved:</h2>

      <ul>
      <% @stagelevel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :ammount %><br>
    <%= f.text_field :ammount %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
