<%= render 'left' %>
<%= render 'top' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>会员列表</h5>
    </div>
    <div class="ibox-content">

<table>

      <h1>会员信息</h1>
      <table class="table table-hover table-bordered">

  <thead>
    <tr>
      <th>会员等级</th>
      <th>姓名</th>
      <th>信用额度</th>
      <th>性别</th>
      <th>电话</th>
      <th>银行卡</th>
      <th>银行卡帐号</th>
      <th>紧急联系人</th>
      <th>紧急联系人性别</th>
      <th>紧急联系人电话</th>
      <th>营业执照</th>
      <th>QR码</th>
      <th>单据</th>
      <th>状态</th>
      <th>微信</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @peos.each do |peo| %>
      <tr>
        <td><%= peo.memberlevel_id %></td>
        <td><%= peo.name %></td>
        <td><%= peo.credit %></td>
        <td><%= peo.sex %></td>
        <td><%= peo.tel %></td>
        <td><%= peo.bankcard %></td>
        <td><%= peo.bankaccount %></td>
        <td><%= peo.contact %></td>
        <td><%= peo.contactsex %></td>
        <td><%= peo.contacttel %></td>
        <td><%= peo.businesslicense %></td>
        <td><%= peo.qrcode %></td>
        <td><%= peo.upid %></td>
        <td><%= peo.status %></td>
        <td><%= peo.wechat %></td>
        <td><%= link_to '编辑会员', edit_peo_path(peo) %></td>
        <td><%= link_to '删除会员', peo, method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <br>
  <%= link_to '新建会员', new_peo_path ,class: "btn btn-w-m btn-success mylink pull-right",'data-no-turbolink'=>true  %>
  <br>
 </table>
     </div>
    </div>
  </div>