<%= render 'left' %>
<%= render 'top' %>
<p id="notice"><%= notice %></p>

<div class="pages">
  <div class="page" data-page="home-another">
<div class="page-content">
  <div class="content-block-title">资料显示</div>
  <div class="list-block">
    <ul>
      <li class="item-content">

        <div class="item-inner">
          <div class="item-title">会员等级:</div>
          <div class="item-after"><%= @peo.memberlevel_id %></div>
        </div>
      </li>


      <li class="item-content">

        <div class="item-inner">
          <div class="item-title">姓名:</div>
          <div class="item-after"> <%= @peo.name %></div>
        </div>
      </li>


      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">信用额度:</div>
          <div class="item-after"> <%= @peo.credit %></div>
        </div>
      </li>


      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">性别:</div>
          <div class="item-after"> <%= @peo.sex %></div>
        </div>
      </li>


      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">电话:</div>
          <div class="item-after"><%= @peo.tel %> </div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">银行卡:</div>
          <div class="item-after"> <%= @peo.bankcard %> </div>
        </div>
      </li>


      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">银行账户:</div>
          <div class="item-after"> <%= @peo.bankaccount %> </div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">紧急联系人:</div>
          <div class="item-after"> <%= @peo.contact %></div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">紧急联系人性别:</div>
          <div class="item-after"> <%= @peo.contactsex %> </div>
        </div>
      </li>


      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">紧急联系人电话:</div>
          <div class="item-after"> <%= @peo.contacttel %></div>
        </div>
      </li>



      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">营业执照:</div>
          <div class="item-after"><%= @peo.businesslicense %> </div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">QR码:</div>
          <div class="item-after"> <%= @peo.qrcode %> </div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">账单:</div>
          <div class="item-after"> <%= @peo.upid %> </div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">状态:</div>
          <div class="item-after"> <%= @peo.status %> </div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">微信:</div>
          <div class="item-after"> <%= @peo.wechat %> </div>
        </div>
      </li>


      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">身份证正面图片:</div>
        </div>

      </li>
      <li>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-90"> <%=image_tag @peo.identityfont,width: '100%',height: '100%'%></div>
<div class="col-5"></div>
        </div>
      </li>


      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">身份证反面图片:</div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-90"> <%=image_tag @peo.identityback,width: '100%',height: '100%'%></div>
          <div class="col-5"></div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">银行卡图片:</div>
        </div>
      </li>


      <li>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-90"> <%=image_tag @peo.bankphoto,width: '100%',height: '100%'%></div>
          <div class="col-5"></div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">营业执照图片:</div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-90"> <%=image_tag @peo.businessphoto,width: '100%',height: '100%'%></div>
          <div class="col-5"></div>
        </div>
      </li>


      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">商业计划书图片:</div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-90"> <%=image_tag @peo.prospectus,width: '100%',height: '100%'%></div>
          <div class="col-5"></div>
        </div>
      </li>

      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">工作证明图片:</div>
        </div>
      </li>

      <li>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-90"> <%=image_tag @peo.workprove,width: '100%',height: '100%'%></div>
          <div class="col-5"></div>
        </div>
      </li>

      <%= link_to 'Edit', edit_peo_path(@peo) %> |
<%= link_to 'Back', peos_path %>
    </ul>
  </div>
</div>
</div>
    </div>


<p>
  <strong>会员等级:</strong>
  <%= @peo.memberlevel_id %>
</p>

<p>
  <strong>会员名:</strong>
  <%= @peo.name %>
</p>

<p>
  <strong>信用额度:</strong>
  <%= @peo.credit %>
</p>

<p>
  <strong>性别:</strong>
  <%= @peo.sex %>
</p>

<p>
  <strong>电话:</strong>
  <%= @peo.tel %>
</p>

<p>
  <strong>银行卡:</strong>
  <%= @peo.bankcard %>
</p>

<p>
  <strong>银行卡号:</strong>
  <%= @peo.bankaccount %>
</p>

<p>
  <strong>紧急联系人:</strong>
  <%= @peo.contact %>
</p>

<p>
  <strong>联系人性别:</strong>
  <%= @peo.contactsex %>
</p>

<p>
  <strong>联系人电话:</strong>
  <%= @peo.contacttel %>
</p>

<p>
  <strong>营业执照:</strong>
  <%= @peo.businesslicense %>
</p>

<p>
  <strong>QR码:</strong>
  <%= @peo.qrcode %>
</p>

<p>
  <strong>单据:</strong>
  <%= @peo.upid %>
</p>

<p>
  <strong>状态:</strong>
  <%= @peo.status %>
</p>

<p>
  <strong>微信:</strong>
  <%= @peo.wechat %>
</p>

<%= link_to '编辑会员', edit_peo_path(@peo) %> |
<%= link_to '返回', peos_path %>

