<p id="notice"><%= notice %></p>

<p>
  <strong>Memberlevel:</strong>
  <%= @peo.memberlevel_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @peo.name %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @peo.credit %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @peo.sex %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @peo.tel %>
</p>

<p>
  <strong>Bankcard:</strong>
  <%= @peo.bankcard %>
</p>

<p>
  <strong>Bankaccount:</strong>
  <%= @peo.bankaccount %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @peo.contact %>
</p>

<p>
  <strong>Contactsex:</strong>
  <%= @peo.contactsex %>
</p>

<p>
  <strong>Contacttel:</strong>
  <%= @peo.contacttel %>
</p>

<p>
  <strong>Businesslicense:</strong>
  <%= @peo.businesslicense %>
</p>

<p>
  <strong>Qrcode:</strong>
  <%= @peo.qrcode %>
</p>

<p>
  <strong>Upid:</strong>
  <%= @peo.upid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @peo.status %>
</p>

<p>
  <strong>Wechat:</strong>
  <%= @peo.wechat %>
</p>

<%= link_to 'Edit', edit_peo_path(@peo) %> |
<%= link_to 'Back', peos_path %>
